body {
  background-color: black;
}

.container {
  display: flex;
flex-direction: row;
justify-content: flex-start;
gap: 10px;
background-color: black;
}

.item {
  background: rgb(250, 252, 165);
  color: rgb(0, 0, 0);
  padding: 100px;
}

.container1 {
  display: flex;
flex-direction: row;
justify-content: center;
gap: 10px;
background-color: black;
}

.item1 {
  background: rgb(182, 255, 248);
  color: rgb(0, 0, 0);
  padding: 100px;
}

.container2 {
  display: flex;
flex-direction: row;
justify-content: flex-end;
gap: 10px;
background-color: black;
}

.item2 {
  background: rgb(255, 201, 248);
  color: rgb(0, 0, 0);
  padding: 100px;
}

.container3 {
  display: flex;
align-items: flex-start;
flex-direction: column;
gap: 10px;
background-color: black;
}

.item3 {
  background: rgb(235, 168, 255);
  color: rgb(0, 0, 0);
  padding: 100px;
}

.container4 {
  display: flex;
align-items: center;
flex-direction: column;
gap: 10px;
background-color: black;
}

.item4 {
  background: rgb(249, 207, 157);
  color: rgb(0, 0, 0);
  padding: 100px;
}

.container5 {
  display: flex;
align-items: flex-end;
flex-direction: column;
gap: 10px;
background-color: black;
}

.item5 {
  background: rgb(221, 255, 174);
  color: rgb(0, 0, 0);
  padding: 100px;
}

.container6 {
  display: flex;
justify-content: center;
flex-direction: row;
gap: 10px;
background-color: black;
}

.item6 {
  background: rgb(255, 179, 207);
  color: rgb(0, 0, 0);
  padding: 100px;
}

.container7 {
  display: flex;
justify-content: center;
flex-direction: row;
gap: 10px;
}

.item7 {
  background: rgb(255, 151, 151);
  color: rgb(0, 0, 0);
  padding: 100px;
}

.container8 {
  display: flex;
justify-content: flex-start;
flex-direction: row;
gap: 10px;
}

.item8 {
  background: rgb(198, 179, 255);
  color: rgb(0, 0, 0);
  padding: 100px;
}

.container9 {
  display: flex;
justify-content: flex-start;
flex-direction: row;
gap: 10px;
}

.item9 {
  background: rgb(255, 255, 190);
  color: rgb(0, 0, 0);
  padding: 100px;
}

.container10 {
  display: flex;
justify-content: flex-end;
flex-direction: row;
gap: 10px;
}

.item10 {
  background: rgb(190, 132, 209);
  color: rgb(0, 0, 0);
  padding: 100px;
}

.container11 {
  display: flex;
justify-content: flex-end;
flex-direction: row;
gap: 10px;
}

.item11 {
  background: rgb(206, 255, 237);
  color: rgb(0, 0, 0);
  padding: 100px;
}
